*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}